body {
  font-family: "Source Code Pro", monospace;
}
header{
  height: 1093px;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../images/Object.jpg');  
background-size: cover;
background-position: center;

width: 100%;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
 
    margin-bottom:0px;
 }
 nav ul li {
  list-style-type: none;
  display: inline-block;
  padding:  8px 16px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
  
}
.hero {
margin-top: 250px;
  height: 200px;
}
.hero h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.hero .span {
    color:#fff;
position: absolute;
   left: 37%;
   padding: 13px 30px;
   display: inline-block;
   word-spacing: 3rem;
  font-size: 16px;
   margin-bottom: 30px;
 
}
.hero button {
  margin-top: 20px;
    background-color: #C271FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 42%;
    top: 50px;
    transition: .4s;
  }
.hero button:hover {
  background-color: #A05BCF;
  transform: scale(1.1);}
.hero-text {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
  margin-bottom:150px;

  color: #fff;
  font-weight: 700;
}
.hero-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  margin-left:10%;
  margin-right: 10%;

}
.hero-card h3 {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  font-weight: 900;
}
.hero-card p {
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
  font-weight: 400;
}
.weather {
  height: 392px;
  background-color: #C271FF;
  display: flex;
  flex-direction: column 2;
  align-items: center;
  color: white;

}

.weather div {
  position: relative;
  left: 10%;
  line-height: 1.6;
  margin-left: 50px;  
}
.weather  blockquote {
  margin-bottom: 20px;
  }
  .weather h3 {
    font-weight: bold;
  }
  .weather p{
    font-style: italic;
  }
  .tutorials h2{
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .tutorials .video {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
  }
.video1 .overlay {
  position: relative;
  bottom: 100px;
  left: 40%;
}
.video1 {
  height: 154px;
  margin-bottom: 20px;

}
.tutorials .video h3{
  font-weight: bold;
  margin-bottom: 20px;

}
.tutorials .video p{
  font-size: 14px;
  color: rgba(7, 22, 41, 0.5);
  margin-bottom: 20px;
}
.video-text {
  display: flex;
   flex-direction: column 2; 
   align-items: center; 
   gap: 10px;
   margin-bottom: 20px;
}
.video-text1 {
  display: flex;
   flex-direction: column 2; 
   align-items: baseline; 
   gap: 80px;
 
}
.membership {
  background-color: #071629;
  height: 502px;
  margin-top: 100px;
 
 
}
.membership h2 {
  font-size: 24px;
  color: white;
  font-weight: 200;
  margin-bottom: 100px;
   display: flex;
  flex-direction: row ;
  justify-content: center; 
  padding-top: 100px;
  gap: 10px;

  
}

.free {
  display: flex;
  justify-content: space-between;
   margin-left: 15%;
  margin-right: 10%;
  gap: 20px;
}
.free h3{
font-weight: 600;
font-size: 16px;
color: white;
margin-bottom: 20px;
}
.free img{
  margin-bottom: 20px;
}
.free p{
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  width: 215px;
  margin-bottom: 60px;
}

.membership button{
  background-color: #C271FF;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  position: relative;
  left: 45%;
  cursor: pointer;
  transition: .4s;


}
.membership button:hover{
  transform: scale(1.1);
  background-color: #A05BCF;
}

.faq  h2{
font-size: 32px;
font-weight: 400;
color: #071629;
display: flex;
justify-content: center;
margin-top: 50px;
}
.faq-item {
  display: flex;
  flex-direction: column 2;
justify-content: space-between;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
 gap: 50px;
}
.faq-item h3 { 
  color: #071629;
  font-weight: bold;
margin-bottom: 50px;
margin-top: 50px;
}
.faq-item p{
  margin-bottom: 20px;
  color: rgba(7, 22, 41, 0.5);
  font-size: 14px;
    width: 350px;
}
footer{
  background-color: #071629;
  height: 249px;
}
.footer {
padding: 80px;
display: flex;
justify-content: space-between;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 0;
}
footer p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}