body {
  font-family: "Source Code Pro", monospace;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000;
    margin-bottom: 100px;
 }
 nav ul li {
  list-style-type: none;
  display: inline-block;
  padding:  8px 16px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
  
}
.hero {
  background-color: #000;
  height: 200px;
}
.hero h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero .span {
    color:#fff;
position: absolute;
   left: 37%;
   padding: 13px 30px;
   display: inline-block;
   word-spacing: 3rem;
  font-size: 16px;
   margin-bottom: 30px;
 
}
.hero button {
  margin-top: 20px;
    background-color: #C271FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 42%;
    top: 40px;
  }
.hero-text {
  text-align: center;
}