body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
header { 
   display: flex;
  justify-content: space-between;
  align-items: center;
}
 
article{
  flex: 2;
  overflow-y: auto;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}

aside {
  flex: 1;
  overflow-y: auto;
}